<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="joe.chloe">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".ChloeApp"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".gpuimgplustest.FilterTestActivity" />
        <activity android:name=".gpuimgplustest.GpuImageTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gpuimgplustest.ImageDemoActivity" />
        <activity android:name=".GLPreviewActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".gpuimgplustest.TestCaseActivity" />
        <activity android:name=".gpuimgplustest.VideoPlayerDemoActivity" />
        <activity android:name=".gpuimgplustest.FaceTrackingDemoActivity" />
        <activity android:name=".gpuimgplustest.CameraDemoActivity" />
        <activity android:name=".gpuimgplustest.BasicImageDemoActivity" />
        <activity android:name=".gpuimgplustest.SimplePlayerDemoActivity" />
        <activity android:name=".MvComposerActivity"></activity>
        <activity android:name=".exoplayerfilter.ExoPlayerFilterActivity" />
    </application>

</manifest>